import express from 'express'
import { createApp } from 'nodulus-core'

const app = express()
app.use(express.json())

const { routes } = await createApp(app)
console.log(`Mounted ${routes.length} route(s)`)

app.listen(3000, () => {
  console.log('Server running on http://localhost:3000')
})
