{
  "name": "{{projectName}}",
  "version": "1.0.0",
  "type": "module",
  "engines": {
    "node": ">=20.6.0"
  },
  "scripts": {
    "dev": "npx nodulus dev --watch src/app.js",
    "setup": "npx nodulus sync-preload",
    "start": "node --import ./.nodulus/preload.js src/app.js"
  },
  "dependencies": {
    "@vlynk-studios/nodulus-core": "^1.5.0",
    "express": "^5.0.0"
  }
}
