import type { NodulusConfig } from '@vlynk-studios/nodulus-core'

export default {
  modules: 'src/modules/*',
  prefix: '/api/',
  strict: process.env.NODE_ENV !== 'production',
} satisfies NodulusConfig
